<mat-toolbar color="primary">
  <span> Date</span>
</mat-toolbar>

<div class="container pt-5">
  <form>
    <mat-form-field appearance="outline" class="example-form">
      <mat-label>Satrt Date</mat-label>
      <input matInput [owlDateTime]="dt2" [selectMode]="'rangeFrom'">
      <mat-icon matSuffix [owlDateTimeTrigger]="dt2"><i class="far fa-calendar-alt"></i></mat-icon>
      <owl-date-time #dt2></owl-date-time>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-form">
      <mat-label>End Date</mat-label>
      <input matInput [owlDateTime]="dt3" [selectMode]="'rangeTo'">
      <mat-icon matSuffix [owlDateTimeTrigger]="dt3"><i class="far fa-calendar-alt"></i></mat-icon>
      <owl-date-time #dt3></owl-date-time>
    </mat-form-field>
  </form>
</div>
