<mat-toolbar color="primary">
  <span> Date</span>
</mat-toolbar>

<div class="form pt-5">
  <form [formGroup]="data">
    <mat-form-field appearance="outline" class="example-form">
      <mat-label>Range</mat-label>
      <input matInput formControlName="startdate" [owlDateTime]="dt2" [selectMode]="'range'">
      <mat-icon matSuffix [owlDateTimeTrigger]="dt2"><i class="far fa-calendar-alt"></i></mat-icon>
      <owl-date-time #dt2 [pickerType]="'both'">hello</owl-date-time>

    </mat-form-field>





    <div class="row text-center">

      <div class="col md-4">
        <div class="button">
          <button mat-stroked-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Previous
          </button>

          <button mat-raised-button color="primary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </button>

          <button mat-raised-button color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <h3>{{viewDate | calendarDate:(view+'ViewTitle'):'en'}}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">

        </div>
      </div>
    </div>

    <div [ngSwitch]="view">


      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]='events'
        (beforeViewRender)="beforeMonthViewRender($event)"></mwl-calendar-month-view>
    </div>

    <br>
    <br>
    <div class="container">
      <table class="table">
        <thead>
          <tr>

          </tr>
        </thead>

      </table>
    </div>



<!--<div class="container calendar">
  <button mat-raised-button color="primary" class="previous" (click)="pm()"><i class="fas fa-arrow-circle-left"></i></button>
  <button class="next" (click)="nm()"><i class="fas fa-arrow-circle-right"></i></button>
  <div [ngSwitch]="month" class="month">
    <div *ngSwitchCase="0" class="text-center">January {{year}}</div>
    <div *ngSwitchCase="1" class="text-center">February {{year}}</div>
    <div *ngSwitchCase="2" class="text-center">March {{year}}</div>
    <div *ngSwitchCase="3" class="text-center">April {{year}}</div>
    <div *ngSwitchCase="4" class="text-center">May {{year}}</div>
    <div *ngSwitchCase="5" class="text-center">June {{year}}</div>
    <div *ngSwitchCase="6" class="text-center">July {{year}}</div>
    <div *ngSwitchCase="7" class="text-center">August {{year}}</div>
    <div *ngSwitchCase="8" class="text-center">September {{year}}</div>
    <div *ngSwitchCase="9" class="text-center">October {{year}}</div>
    <div *ngSwitchCase="10" class="text-center">November {{year}}</div>
    <div *ngSwitchCase="11" class="text-center">December {{year}}</div>
  </div>-->
