.form{
  margin-left:20rem;
}

.example-form{
  min-width:100px;
  max-width:300px;
  width:60%;
  margin-left: 1rem;
}

.example-width{
  width:50%;
}

.previous{
  margin-left:15rem;
}

.next{
  margin-left:37rem;
}

.calendar{
  padding-top: 5rem;
}

.month{
  font-size: 30px;
  padding-bottom: 20px;
  margin-right:5rem;
}

table{
  width:50%;
  margin-left: 15rem;
}
