<mat-toolbar color="primary">
  <span> Date</span>
</mat-toolbar>


<div class="container  pt-5">
  <form [formGroup]="data" class="example-form">
        <mat-form-field appearance="outline" class="example-width">
          <mat-label>Choose a date range</mat-label>
          <input matInput [owlDateTime]="dt1" [selectMode]="'range'">
          <mat-icon matSuffix [owlDateTimeTrigger]="dt1"><i class="far fa-calendar-alt"></i></mat-icon>
          <owl-date-time #dt1></owl-date-time>
        </mat-form-field>
  </form>


</div>
